<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index.ejs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <a href="/logout"><button type="button" class="logout"></button></a>
            <div id="freinds" class="column">
                <h1>Your Friends</h1>
                <ul id="friends">
                    <% friends.forEach(function(friend){ %>
                        <li uid="<%= friend.twitter_id %>" class="friend"><img class="profile-image" src="<%= friend.profile_image_url %>">
                        <p>
                        <span class="name"><% friend.name %></span>
                        <span class="screen-name"><% friend.screen_name %></span>
                        </p>
                        <p class="location"><% friend.location %></p>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div id="notes-column">
                <h1>Notes</h1>
                <ul id="notes">
                    <!-- code -->
                </ul>
            </div>
    </div>
</body>
</html>