<!-- 
    Name:Daniel Truong
    Date: 2.8.19
    FileName:login.ejs
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <h1>Twitter Notes</h1>
        <h2>Personal Friends Diary</h2>
        <a href="/auth/twitter"><img src="sign-in-with-twitter-gray.png"></a>
    </div>
</body>
</html>